<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="7zip" />
    <package id="dotnetcore-sdk" />
    <package id="microsoft-windows-terminal" />
    <package id="powershell-core" />
    <package id="vim" />
    <package id="vscode" />
    <package id="wsl" />
    <package id="wsl-ubuntu-1804" />
</packages>
