"*":
  "atom-ide-ui":
    use: {}
  core:
    projectHome: "/Users/andrew/Projects/src"
    telemetryConsent: "no"
    themes: [
      "native-ui"
      "xcode-low-key-syntax"
    ]
  editor:
    fontFamily: "SF Mono"
  "exception-reporting":
    userId: "1df1bdf4-0c22-4681-952c-9f9f56dd08f1"
  "go-plus":
    test:
      coverageDisplayMode: "gutter"
      runTestsOnSave: false
      runTestsWithCoverage: false
  "tone-syntax":
    color:
      bg: "#292b36"
      syncUI: false
      uno: "#d8d8dc"
  welcome:
    showOnStartup: false
